<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://maisvacinas.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>maisvacinas.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>MaisVacinas</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$MaisVacinas</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Vacinas" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:vacinas.database.windows.net,1433;Initial Catalog=Vacina;User ID=rafaasx@vacinas.database.windows.net;Password=%Cvvchty." Name="Data Source=tcp:vacinas.database.windows.net,1433;Initial Catalog=Vacina;User Id=rafaasx@vacinas.database.windows.net;Password=%Cvvchty." />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Vacinas.Models.Context, Vacinas" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Model" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:vacinas.database.windows.net,1433;Initial Catalog=Vacina;User ID=rafaasx@vacinas.database.windows.net;Password=%Cvvchty." Name="Data Source=tcp:vacinas.database.windows.net,1433;Initial Catalog=Vacina;User Id=rafaasx@vacinas.database.windows.net;Password=%Cvvchty." />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=Vacinas;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Model_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=(LocalDb)\MSSQLLocalDB;initial catalog=Vacinas;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Model-Web.config Connection String">
      <ParameterValue>data source=tcp:vacinas.database.windows.net,1433;initial catalog=Vacina;user id=rafaasx@vacinas.database.windows.net;password=%Cvvchty.;MultipleActiveResultSets=True;App=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Vacinas-Web.config Connection String">
      <ParameterValue>Data Source=tcp:vacinas.database.windows.net,1433;Initial Catalog=Vacina;User Id=rafaasx@vacinas.database.windows.net;Password=%Cvvchty.</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="Vacinas" />
  </ItemGroup>
</Project>