@{
    Layout = null;
}
    <h2>Detalhes Estoque</h2>
        <div class="form-horizontal">
            <ul id="validationSummary"></ul>
            <div class="form-group">
                <label for="Quantidade" class = "control-label col-md-2">Quantidade</label>
                <input type="text" class="form-control" id="Nome" ng-model="data.Quantidade" disabled>
            </div>
        </div>
    
    <div>
        <a href="#/Estoque" class="btn btn-primary">Voltar para Lista</a>
    </div>
