@{
    Layout = null;
}
    <h2>Regiao</h2>
    <form name="theForm">
        <div class="form-horizontal">
            <ul id="validationSummary"></ul>
            <div class="form-group">
                <label for="Nome" class = "control-label col-md-2"> Nome </label>
                <div class="col-md-10">
                    <input type="text" ng-model="data.Nome" id="Nome"  class="form-control"/>
                    <div id="validation_for_Nome"></div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="button" value="Salvar" class="btn btn-primary" ng-click="save()"/>
                </div>
            </div>
            <div ng-bind-html="retorno"></div>
        </div>
    </form>
    
    <div>
        <a href="#/Regiao" class="btn btn-default">Voltar a Lista</a>
    </div>
