@{
    Layout = null;
}
    <h2>Detalhes Região</h2>
        <div class="form-horizontal">
            <ul id="validationSummary"></ul>
            <div class="form-group">
                <label for="Nome" class="control-label col-md-2">Nome</label>
                <input type="text" class="form-control" id="Nome" ng-model="data.Nome" disabled>
            </div>
        </div>
    <div>
        <a href="#/Regiao" class="btn btn-primary">Voltar a Lista</a>
    </div>
